# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\大学文件\我的文件\毕业设计\deep-learning-for-image-processing-master\pytorch_object_detection\yolov3_spp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
